    <%- include("partials/header.ejs") %>
        <% if(locals.postArray.length===0) { %>
        <h2>Nothing to show</h2>
        <% } else {%>
            <% postArray.forEach((element) => { %>
                    <div class="row g-0 align-items-stretch border rounded shadow-sm mb-3 h-md-250">
                        <div class="col-md-2" >
                            <img src="/images/qi-bin-w4hbafegiac-unsplash.jpg" class="img-fluid rounded-start h-100 w-100 object-fit-cover" alt="">
                        </div>
                        <div class="col-md-8 p-2 d-flex flex-column justify-content-center">
                            <h3 class="mb-2 text-truncate">
                                <%= element.title %>
                            </h3>
                            <p class="mb-2 text-truncate">
                                <%= element.content.slice(0,50) %>
                            </p>
                            <a href="/post/<%= element["id"] %> " class="icon-link gap-1 icon-link-hover">Continue reading</a>
                        </div>
                        <div class="col-md-2 p-2 d-flex flex-column justify-content-around">
                            <button class="btn btn-outline-secondary post-edit-btn" data-id="<%= element.id %>">Edit</button>
                            <button class="btn btn-outline-danger post-delete-btn" data-id="<%= element.id %>">Delete</button>
                        </div>
                    </div>
            <%}); %>
        <% } %>
    <%- include("partials/edit-form.ejs") %>
    <%- include("partials/creation-form.ejs") %>
    <%- include("partials/footer.ejs") %>
